.config/KDE
.config/cinnamon/spices
.config/dconf
.config/gtk-3.0
.config/gtk-4.0
.config/kde.org
.config/kdedefaults
.config/lazygit
.config/libaccounts-glib
.config/menus
.config/nemo
.config/obsidian
.config/openvr
.config/openxr/1
.config/rustdesk
.config/session
.config/spotify
.config/vlc
.config/wivrn
.config/wootility
.config/xsettingsd
.config/PlasmaDiscoverUpdates
.config/Trolltech.conf
.config/baloofilerc
.config/discoverrc
.config/dolphinrc
.config/gtkrc
.config/gtkrc-2.0
.config/kactivitymanagerdrc
.config/kcmfonts
.config/kcminputrc
.config/kconf_updaterc
.config/kded5rc
.config/kdeglobals
.config/kglobalshortcutsrc
.config/ktimezonedrc
.config/kwinrc
.config/mimeapps.list
.config/plasma-localerc
.config/plasma-org.kde.plasma.desktop-appletsrc
.config/plasma-welcomerc
.config/plasmashellrc
.config/powermanagementprofilesrc
.config/spectaclerc
.config/user-dirs.dirs
.config/user-dirs.locale
.config/kactivitymanagerd-statsrc
.config/xdg-desktop-portal-kderc
.config/plasma.emojierrc
.config/autostart
