[user]
	email = 91201105+ZackNyx@users.noreply.github.com
	name = 'ZackNyx'
[credential]
	helper = store
	helper = 
	helper = /usr/sbin/git-credential-manager
	interactive = 1
[init]
	defaultBranch = main
[core]
	editor = neovim
[pull]
	rebase = true
[credential "https://dev.azure.com"]
	useHttpPath = true
